<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#SubProductMeasuresTableModal">
    Przelicznik kuchenny
</button>

<!-- Modal -->
<div class="modal fade" id="SubProductMeasuresTableModal" tabindex="-1" aria-labelledby="SubProductMeasuresTableModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SubProductMeasuresTableModalLabel">Przelicznik kuchenny</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table text-center table-striped table-sm">
                    <tbody>
                        <tr>
                            <td></td>
                            <td><strong>szklanka (250ml)</strong></td>
                            <td><strong>łyżka (15ml)</strong></td>
                            <td><strong>łyżeczka (5ml)</strong></td>
                        </tr>
                        <tr>
                            <td>cukier</td>
                            <td>220 g</td>
                            <td>15 g</td>
                            <td>5 g</td>
                        </tr>
                        <tr class="m-5">
                            <td>cukier puder</td>
                            <td>160 g</td>
                            <td>10 g</td>
                            <td>3 g</td>
                        </tr>
                        <tr>
                            <td>mąka pszenna</td>
                            <td>170 g</td>
                            <td>10 g</td>
                            <td>3 g</td>
                        </tr>
                        <tr>
                            <td>mąka ziemniaczana</td>
                            <td>180 g</td>
                            <td>11 g</td>
                            <td>4 g</td>
                        </tr>
                        <tr>
                            <td>mąka żytnia</td>
                            <td>136 g</td>
                            <td>8 g</td>
                            <td>3 g</td>
                        </tr>
                        <tr>
                            <td>woda</td>
                            <td>250 g</td>
                            <td>15 g</td>
                            <td>5 g</td>
                        </tr>
                        <tr>
                            <td>mleko</td>
                            <td>250 g</td>
                            <td>15 g</td>
                            <td>5 g</td>
                        </tr>
                        <tr>
                            <td>miód</td>
                            <td>350 g</td>
                            <td>21 g</td>
                            <td>7 g</td>
                        </tr>
                        <tr>
                            <td>sól</td>
                            <td>300 g</td>
                            <td>19 g</td>
                            <td>6 g</td>
                        </tr>
                        <tr>
                            <td>olej</td>
                            <td>225 g</td>
                            <td>15 g</td>
                            <td>5 g</td>
                        </tr>
                        <tr>
                            <td>kakao</td>
                            <td>125 g</td>
                            <td>7 g</td>
                            <td>2 g</td>
                        </tr>
                        <tr>
                            <td>śmietana 30%</td>
                            <td>270 g</td>
                            <td>16 g</td>
                            <td>5 g</td>
                        </tr>
                        <tr>
                            <td>śmietana 18%</td>
                            <td>220 g</td>
                            <td>12 g</td>
                            <td>4 g</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>