@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Witamy serdecznie na stronie naszej cukierni!</h3>
    <p>Cieszymy się, że do nas trafiłeś :) W razie jakiego kolwiek zainetersowania naszymi wypiekami</p>
    <p> zachęcamy do składania zamówień pod numerem telefonu: 111-222-333...</a>.</p>
    <a class="nav-link" asp-area="" asp-controller="Baking" asp-action="Index">
        <img src='~/Images/powitalny.jpg' class="img-fluid">
    </a>
    <h5>...a teraz zapraszamy do naszej słodkiej galerii!</h5>

</div>
